<!DOCTYPE html>
<html>
<head>
    <title>Http request tester!</title>
    <style>
	    body {
	    	font-family: sans-serif;
	    	padding: 0 2rem 0 2rem;
	    }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>
